BeersCheersAndVasis.UI/BeersCheersAndVasis.UI/bin
BeersCheersAndVasis.UI/BeersCheersAndVasis.UI/obj
BeersCheersAndVasis.UI/BeersCheersAndVasis.UI.Client/bin
BeersCheersAndVasis.UI/BeersCheersAndVasis.UI.Client/obj
BeersCheersVasis.API/bin
BeersCheersVasis.API/obj
BeersCheersVasis.Api.Client/bin
BeersCheersVasis.Api.Models/bin
BeersCheersVasis.Data/bin
BeersCheersVasis.Repo/bin
BeersCheersVasis.Services/bin
BlazorApp1/BlazorApp1/obj
BlazorApp1/BlazorApp1.Client/obj
BlazorApp2/bin
BlazorApp2/obj
BlazorApp3/bin
BlazorApp3/obj
BeersCheersVasis.Api.Client/obj
BeersCheersVasis.Api.Models/obj
BeersCheersVasis.Data/obj
BeersCheersVasis.Repo/obj
BeersCheersVasis.Services/obj
/.vs
BlazorApp4/obj
.amazonq
.kiro
tests/BeersCheersVasis.Tests/obj/Release
tests/BeersCheersVasis.Tests/obj
tests/BeersCheersVasis.Tests/bin/Release
tests/BeersCheersVasis.Tests/bin
