@inherits LayoutComponentBase

<MudThemeProvider Theme="new BCVTheme().THEME" />
<MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.Medium" />
<MudSnackbarProvider />

<NavMenu />

<main class="bcv-pt-nav">
    @Body
</main>
