@inject NavigationManager Nav
@inject BlazorApp3.Services.BcvAuthStateProvider AuthState

<nav class="bcv-nav">
    <div class="bcv-nav-inner">
        <a href="/" class="bcv-nav-brand">Beers Cheers & Vasis</a>

        <button class="bcv-nav-toggle" @onclick="ToggleMenu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <ul class="bcv-nav-links @(menuOpen ? "open" : "")">
            <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
            <li><NavLink href="/read">Read</NavLink></li>
            <AuthorizeView>
                <Authorized>
                    <li><NavLink href="/admin">Admin</NavLink></li>
                    <li><a href="javascript:void(0)" @onclick="Logout" style="cursor:pointer;">Sign Out</a></li>
                </Authorized>
                <NotAuthorized>
                    <li><NavLink href="/login">Sign In</NavLink></li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>

@code {
    private bool menuOpen;
    private void ToggleMenu() => menuOpen = !menuOpen;

    private async Task Logout()
    {
        await AuthState.LogoutAsync();
        Nav.NavigateTo("/");
    }
}
