@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<h2>Vasi here</h2>

Welcome to this, ఇది ఏంటో నాకు ఇంకా తెలియదు.
<br/><br/>
Is it a blog? may be,<br/>
Is it a place where I sob every day about everything, probably<br/><br/>

Most likely, if you are bored, I'll try to make this an interesting place to visit. At least I hope so lolololol

